.Home {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}
.home-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}
.main-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}
.content-course{
  width: 100%;
  height: 100vh;
  background-color: #F5F5FB;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: .5rem 0 4rem 0;
}
.SideOpen{
  opacity: .2;
}
.menu-handler {
  position: relative;
  transform: translateX(-50%);
  left: 92%;
  top: -55px;
  width: 45px;
  height: 45px;
  z-index: 10;
}
.menu-handler i{
  width: 50px;
  height: 45px;
}
@media screen and (min-width: 700px){
  .main-content{
    width: 100%;
    margin-left: 25%;
  }
  .SideOpen{
    opacity: 1;
  }
}
@media screen and (min-width: 1024px){
.Home{
  flex-direction: row;
  width: 100%;
}
.main-content{
  width: 100%;
  margin-left: 20%;
}
.home-container{
  width: 100%;
}
.menu-handler{
  display: none;
}
}