@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");
.SideBar {
  background-color: #fff;
  height: 100vh;
  width: 0%;
  z-index: 8;
  position: absolute;
  transition: all 0.5s ease-in-out;
  font-family: "Montserrat", sans-serif;
  box-shadow: inset -2px 0px 5px -5px rgba(0, 0, 0, 0.72);
}
.SideOp {
  width: 50%;
  overflow-y: auto;
}
.SideCl{
  opacity: 0;
}
.close{
  opacity: 0;
  display: none;
}
.open{
  opacity: 1;
}
.close-handler{
  transition: all 0.4s ease-in-out;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: .8rem 1.2rem;
}
.close-handler i{
  font-size: 4.5rem;
}
.side-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s ease-in-out;
  padding: .5rem 0 3rem 0;
}
.side-header {
  padding-bottom: 2rem;
  transition: all 0.4s ease-in-out;
}
.side-header img{
  width: 40px;
}
.side-header h1{
  transition: all 0.4s ease-in-out;
}
.side-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s ease-in-out;
  padding-top: 1rem;
}
.side-btn span {
  transition: all 0.1s ease-in-out;
}
.side-join-cta {
  background-color: #5e81f4;
  height: 45px;
  width: 90%;
  text-align: center;
  padding: 1.2rem 0;
  border-radius: 8px;
}
.side-join-cta button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: #fff;
  letter-spacing: 0.5px;
}
.side-join-cta:hover,
.side-join-cta:active {
  background-color: #fff;
  border: 2px solid #5e81f4;
}
.side-join-cta:hover button,
.side-join-cta:active button {
  color: #5e81f4;
}
.side-all-cta,
.side-chat-cta,
.side-setting-cta,
.side-developer-cta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 90%;
  height: 45px;
  margin: 1rem 0;
  padding: 0 1.5rem;
  border-radius: 8px;
  cursor: pointer;
}
.side-all-cta:hover,
.side-chat-cta:hover,
.side-setting-cta:hover,
.side-all-cta:active,
.side-chat-cta:active,
.side-setting-cta:active,
.side-developer-cta:hover,
.side-developer-cta:active {
  border: 2px solid #5e81f4;
}
.side-all-cta button,
.side-chat-cta button,
.side-setting-cta button,
.side-developer-cta button,
.side-developer-cta button {
  color: rgb(68, 67, 67);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}
.side-btn span i {
  font-size: 1.5rem;
  padding-right: 1.5rem;
  color: #888884;
}
.side-btn span button {
  background: none;
  border: none;
  cursor: pointer;
}
/*  */
.account{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.account h3:first-child{
  margin: .7rem 0 1rem 0;
  font-size: 1.5rem;
}
.account-info{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 90%;
  padding: 0 8%;
}
.user-icon{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.user-icon p{
  font-size: 1.5rem;
}
.user-icon h2{
  font-size: 1.5rem;
  color: rgb(68, 67, 67);
  margin-bottom: 1rem;
}
.drop-list{
  transition: .2s all ease-in-out;
  border-radius: 5px;
}
.drop-list li{
  width: 150px;
  height: 40px;
  color: rgb(68, 67, 67);
  text-align: left;
  padding: 0 .5rem;
  font-size: 1.2rem;
  font-weight: 600;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: .3s all ease-in-out;
  border-radius: 5px;
}
.drop-list li:hover,
.drop-list li:active{
  background-color: rgb(238, 236, 236);
}
.drop-list li i{
  font-size: 1.8rem;
  color: #5e81f4;
}
/*  */
@media screen and (min-width: 700px){
  .SideBar{
    width: 25%;
  }
  .close{
    opacity: 1;
  }
  .side-all-cta,
  .side-chat-cta,
  .side-setting-cta,
  .side-developer-cta{
    padding: 0 1rem;
  }
  .drop-list{
    bottom: 12%;
    left: 100%;
  }
}
@media screen and (min-width: 850px){
  
}
@media screen and (min-width: 1024px){
  .SideBar{
    background: #fff;
    box-shadow: none;
    width: 20%;
  }
  .side-join-cta,
  .side-all-cta,
  .side-chat-cta,
  .side-setting-cta,
  .side-developer-cta{
    width: 80%;
    height: 40px;
    margin: .3rem 0;
  }
  .drop-list{
    bottom: 24%;
    left: 90%;
  }
}